<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我们-深圳市欣煜服装有限公司</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
    <section class="about-container">
        <div class="center80 clearF">
            <div class="about-left w50 fl">
                <h2 class="about-title">
                    <span>关于我们</span>
                    <img src="/public//img/about-bg.png" alt="关于我们" class="pos-img">
                </h2>
                <div class="note">
                    <p>深圳市欣煜服装有限公司在深圳地区专业从事服装设计、供应、开发和加工服务。我们一直秉承“高起点、高标准”的管理理念,本着“质量求生存,信誉谋发展”的宗旨赢得了客户认同。我们凭着先进的设计、精湛的工艺提供高品质、高层次的职业服装。
                        我们专业设计提供:工厂制服、公司制服、工程制服、商场制服、社团制服、物业管理制服、医用制服、防尘防静电服、广告衫、校服等第一品牌。 </p>
                    <p>我们凭着诚实守信的原则,急客户所急,时时为客户着想。客户认同是我们最好的回报。“你的满意就是我们的目标”，相信我们定能为你的企业形象增光添色。 多一种比较,多一种选择,多一种效果。</p>
                    <p>我们的口号是：比质量、比价格、比服务。我们的经营理念是：持续改善，提供客户满意的产品和服务。 因为专业，所以我们做的更好。我们热忱期待与你真诚合作，共同发展，共创辉煌。</p>
                </div>
            </div>
            <div class="about-right w50 fr">
                <div class="about-img">
                    <img src="/public/img/about-home.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="contact-container">
        <div class="center80">
            <div class="title">
                <div class="cn-title">联系我们</div>
                <div class="en-title">Contact Us</div>
            </div>
            <ul class="contact-list clearF">
                <li class="contact-item fl">
                    <div class="img">
                        <img src="/public/img/contact1.png" alt="业务咨询">
                    </div>
                    <div class="item-title">业务咨询</div>
                    <div class="item-cont">13510344008</div>
                </li>
                <li class="contact-item fl">
                    <div class="img">
                        <img src="/public/img/contact2.png" alt="在线咨询">
                    </div>
                    <div class="item-title">在线咨询</div>
                    <div class="item-cont">点击图标，与销售顾问进行在线沟通</div>
                </li>
                <li class="contact-item fl clearF">
                    <div class="left-cont fl w50">
                        <div class="img">
                            <img src="/public/img/contact3.png" alt="扫描二维码">
                        </div>
                        <div class="item-title">扫描二维码</div>
                        <div class="item-cont">与销售顾问咨询</div>
                    </div>
                    <div class="right-qrcode fl w50">
                        <img src="/public/img/qrcode.jpg" alt="">
                    </div>
                </li>
                <li class="contact-item fl">
                    <div class="img">
                        <img src="/public/img/contact4.png" alt="非工作时间咨询">
                    </div>
                    <div class="item-title">非工作时间咨询</div>
                    <div class="item-cont">13510344008</div>
                </li>
                <li class="contact-item fl">
                    <div class="img">
                        <img src="/public/img/contact5.png" alt="业务咨询">
                    </div>
                    <div class="item-title">业务咨询</div>
                    <div class="item-cont">2567726906@qq.com</div>
                </li>
                <li class="contact-item fl">
                    <div class="img">
                        <img src="/public/img/contact6.png" alt="周一到周五">
                    </div>
                    <div class="item-title">周一到周五</div>
                    <div class="item-cont">09:00-18:00</div>
                </li>
            </ul>
        </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>