<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>深圳市欣煜服装有限公司</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>

    <section class="news-container">
        <div class="center80">
            <div class="title">
                <h2 class="cn-title">新闻动态</h2>
                <h4 class="en-title">News Center</h4>
            </div>
            <ul class="news-list clearF">
                <li class="news-item fl">
                    <a href="news_view.html">
                    <div class="img" style="background-image: url(/public/img/news1.jpg);"></div>
                    <div class="new-title">冬季工作服定做有哪些种类可选择</div>
                    <div class="new-date">2020-07-24</div>
                    <div class="new-note">企业单位为员工定做订制冬季工作服不仅可以体现企业形象，激发员工工作积极性、集体荣誉感，更是企业的移动···</div>
                    </a>
                </li>
                <li class="news-item fl">
                    <a href="news_view.html">
                    <div class="img" style="background-image: url(/public/img/news2.jpg);"></div>
                    <div class="new-title">冬季工作服定做有哪些种类可选择</div>
                    <div class="new-date">2020-07-24</div>
                    <div class="new-note">企业单位为员工定做订制冬季工作服不仅可以体现企业形象，激发员工工作积极性、集体荣誉感，更是企业的移动···</div>
                    </a>
                </li>
                <li class="news-item fl">
                    <a href="news_view.html">
                    <div class="img" style="background-image: url(/public/img/news3.jpg);"></div>
                    <div class="new-title">冬季工作服定做有哪些种类可选择</div>
                    <div class="new-date">2020-07-24</div>
                    <div class="new-note">企业单位为员工定做订制冬季工作服不仅可以体现企业形象，激发员工工作积极性、集体荣誉感，更是企业的移动···</div>
                    </a>
                </li>
            </ul>
            <div class="pagelist">
                <a href="javascript:;">共250条 当前1/21页</a>
                <a href="">首页</a>
                <a href="">上一页</a>
                <a href="" class="active">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">···</a>
                <a href="">下一页</a>
                <a href="">尾页</a>
            </div>
        </div>

    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>