<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>深圳市欣煜服装有限公司</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
    <section class="product-container">
        <div class="center80 clearF">
            <aside class="left-aside fl">
                <!-- 引入左侧分类 -->
                <%= require("html-loader!../common/aside/index.html") %>
            </aside>
            <ul class="product-list fl clearF">
                <li class="product-item fl">
                    <a href="/product_view.html">
                        <div class="img">
                            <img src="/public/img/product-item.jpg" alt="">
                        </div>
                        <div class="title">夏季新款短袖套装男薄款劳保服上衣汽修服 工地维修工程服定制</div>
                    </a>
                </li>
                <li class="product-item fl">
                    <a href="/product_view.html">
                        <div class="img">
                            <img src="/public/img/product-item.jpg" alt="">
                        </div>
                        <div class="title">夏季新款短袖套装男薄款劳保服上衣汽修服 工地维修工程服定制</div>
                    </a>
                </li>
                <li class="product-item fl">
                    <a href="/product_view.html">
                        <div class="img">
                            <img src="/public/img/product-item.jpg" alt="">
                        </div>
                        <div class="title">夏季新款短袖套装男薄款劳保服上衣汽修服 工地维修工程服定制</div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="about-container">
        <div class="center80 clearF">
            <div class="about-left w50 fl">
                <h2 class="about-title">
                    <span>关于我们</span>
                    <img src="/public//img/about-bg.png" alt="关于我们" class="pos-img">
                </h2>
                <div class="note">
                    <p>深圳市欣煜服装有限公司在深圳地区专业从事服装设计、供应、开发和加工服务。我们一直秉承“高起点、高标准”的管理理念,本着“质量求生存,信誉谋发展”的宗旨赢得了客户认同。我们凭着先进的设计、精湛的工艺提供高品质、高层次的职业服装。
                        我们专业设计提供:工厂制服、公司制服、工程制服、商场制服、社团制服、物业管理制服、医用制服、防尘防静电服、广告衫、校服等第一品牌。 </p>
                    <p>我们凭着诚实守信的原则,急客户所急,时时为客户着想。客户认同是我们最好的回报。“你的满意就是我们的目标”，相信我们定能为你的企业形象增光添色。 多一种比较,多一种选择,多一种效果。</p>
                    <p>我们的口号是：比质量、比价格、比服务。我们的经营理念是：持续改善，提供客户满意的产品和服务。 因为专业，所以我们做的更好。我们热忱期待与你真诚合作，共同发展，共创辉煌。</p>
                </div>
                <div class="more">
                    <span>VIEW MORE</span>
                    <img src="/public//img/icon-more.png" class="more-img" alt="VIEW MORE">
                    <img src="/public//img/icon-more.png" class="more-img-hover" alt="VIEW MORE">
                </div>
            </div>
            <div class="about-right w50 fr">
                <div class="about-img">
                    <img src="/public/img/about-home.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="success-case">
        <h2>成功案例</h2>
        <div class="center80">
            <div class="pic-wrapper clearF">
                <div class="left-pic fl">
                    <img src="/public/img/success-case-left.jpg" alt="">
                </div>
                <ul class="center-pic-list fl clearF">
                    <li class="center-pic-item fl">
                        <img src="/public/img/success-case-center1.jpg" alt="">
                        <h3>图片展示</h3>
                    </li>
                    <li class="center-pic-item fl">
                        <img src="/public/img/success-case-center2.jpg" alt="">
                        <h3>图片展示</h3>
                    </li>
                    <li class="center-pic-item fl">
                        <img src="/public/img/success-case-center3.jpg" alt="">
                        <h3>图片展示</h3>
                    </li>
                    <li class="center-pic-item fl">
                        <img src="/public/img/success-case-center4.jpg" alt="">
                        <h3>图片展示</h3>
                    </li>
                </ul>
                <div class="right-pic fl">
                    <img src="/public/img/success-case-right.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="advantage-container">
        <div class="center80">
            <div class="title">
                <h2 class="cn-title">- 我们的优势 -</h2>
                <h4 class="en-title">OUR ADNANTAGE</h4>
            </div>
            <div class="advantage-wrapper clearF">
                <div class="advantage-left fl w50">
                    <img src="/public/img/adv.jpg" alt="我们的优势">
                </div>
                <ul class="advantage-right-list fl w50">
                    <li class="advantage-right-item clearF">
                            <div class="num fl">01</div>
                            <div class="cont fl">
                                <h4 class="title">企业规模大</h4>
                                <div class="note">已遍布全球各大城市,开设了28家直营店,成为全国最具有影响力的专业婚纱摄影连锁领导品牌。</div>
                            </div>
                    </li>
                    <li class="advantage-right-item clearF">
                            <div class="num fl">02</div>
                            <div class="cont fl">
                                <h4 class="title">核心团队,强大保证</h4>
                                <div class="note">20名资深精英策划师,350名王牌主持人团队、220名职业摄影师团队、全国十强化妆团队。</div>
                            </div>
                    </li>
                    <li class="advantage-right-item clearF">
                            <div class="num fl">03</div>
                            <div class="cont fl">
                                <h4 class="title">团队个性化服务</h4>
                                <div class="note">一对一的婚礼顾问制(团队)策划服务,全程提供贴心服务铸就真正的高品质婚礼。</div>
                            </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="news-container">
        <div class="center80">
            <div class="title">
                <h2 class="cn-title">新闻动态</h2>
                <h4 class="en-title">News Center</h4>
            </div>
            <ul class="news-list clearF">
                <li class="news-item fl">
                    <a href="news_view.html">
                    <div class="img" style="background-image: url(/public/img/news1.jpg);"></div>
                    <div class="new-title">冬季工作服定做有哪些种类可选择</div>
                    <div class="new-date">2020-07-24</div>
                    <div class="new-note">企业单位为员工定做订制冬季工作服不仅可以体现企业形象，激发员工工作积极性、集体荣誉感，更是企业的移动···</div>
                    </a>
                </li>
                <li class="news-item fl">
                    <a href="news_view.html">
                    <div class="img" style="background-image: url(/public/img/news2.jpg);"></div>
                    <div class="new-title">冬季工作服定做有哪些种类可选择</div>
                    <div class="new-date">2020-07-24</div>
                    <div class="new-note">企业单位为员工定做订制冬季工作服不仅可以体现企业形象，激发员工工作积极性、集体荣誉感，更是企业的移动···</div>
                    </a>
                </li>
                <li class="news-item fl">
                    <a href="news_view.html">
                    <div class="img" style="background-image: url(/public/img/news3.jpg);"></div>
                    <div class="new-title">冬季工作服定做有哪些种类可选择</div>
                    <div class="new-date">2020-07-24</div>
                    <div class="new-note">企业单位为员工定做订制冬季工作服不仅可以体现企业形象，激发员工工作积极性、集体荣誉感，更是企业的移动···</div>
                    </a>
                </li>
            </ul>
        </div>

    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>