<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>深圳市欣煜服装有限公司</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>

    <section class="success-case">
        <h2>成功案例</h2>
        <div class="center80">
            <div class="pic-wrapper clearF">
                <div class="left-pic fl">
                    <img src="/public/img/success-case-left.jpg" alt="">
                </div>
                <ul class="center-pic-list fl clearF">
                    <li class="center-pic-item fl">
                        <img src="/public/img/success-case-center1.jpg" alt="">
                        <h3>图片展示</h3>
                    </li>
                    <li class="center-pic-item fl">
                        <img src="/public/img/success-case-center2.jpg" alt="">
                        <h3>图片展示</h3>
                    </li>
                    <li class="center-pic-item fl">
                        <img src="/public/img/success-case-center3.jpg" alt="">
                        <h3>图片展示</h3>
                    </li>
                    <li class="center-pic-item fl">
                        <img src="/public/img/success-case-center4.jpg" alt="">
                        <h3>图片展示</h3>
                    </li>
                </ul>
                <div class="right-pic fl">
                    <img src="/public/img/success-case-right.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
 
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>