<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>深圳市欣煜服装有限公司</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
    <section class="product-container">
        <div class="center80 clearF">
            <aside class="left-aside fl">
                <!-- 引入左侧分类 -->
                <%= require("html-loader!../common/aside/index.html") %>
            </aside>
            <ul class="product-list fl clearF">
                <li class="product-item fl">
                    <a href="product_view.html">
                    <div class="img">
                        <img src="/public/img/product-item.jpg" alt="">
                    </div>
                    <div class="title">夏季新款短袖套装男薄款劳保服上衣汽修服 工地维修工程服定制</div>
                    </a>
                </li>
                <li class="product-item fl">
                    <a href="product_view.html">
                    <div class="img">
                        <img src="/public/img/product-item.jpg" alt="">
                    </div>
                    <div class="title">夏季新款短袖套装男薄款劳保服上衣汽修服 工地维修工程服定制</div>
                    </a>
                </li>
                <li class="product-item fl">
                    <a href="product_view.html">
                    <div class="img">
                        <img src="/public/img/product-item.jpg" alt="">
                    </div>
                    <div class="title">夏季新款短袖套装男薄款劳保服上衣汽修服 工地维修工程服定制</div>
                    </a>
                </li>
                <li class="product-item fl">
                    <a href="product_view.html">
                    <div class="img">
                        <img src="/public/img/product-item.jpg" alt="">
                    </div>
                    <div class="title">夏季新款短袖套装男薄款劳保服上衣汽修服 工地维修工程服定制</div>
                    </a>
                </li>
                <li class="product-item fl">
                    <a href="product_view.html">
                    <div class="img">
                        <img src="/public/img/product-item.jpg" alt="">
                    </div>
                    <div class="title">夏季新款短袖套装男薄款劳保服上衣汽修服 工地维修工程服定制</div>
                    </a>
                </li>
                <li class="product-item fl">
                    <a href="product_view.html">
                    <div class="img">
                        <img src="/public/img/product-item.jpg" alt="">
                    </div>
                    <div class="title">夏季新款短袖套装男薄款劳保服上衣汽修服 工地维修工程服定制</div>
                    </a>
                </li>
                <div class="pagelist fl">
                    <a href="javascript:;">共250条 当前1/21页</a>
                    <a href="">首页</a>
                    <a href="">上一页</a>
                    <a href="" class="active">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">4</a>
                    <a href="">5</a>
                    <a href="">···</a>
                    <a href="">下一页</a>
                    <a href="">尾页</a>
                </div>
            </ul>
        </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>